{% extends "adminbase.html" %}
{% block title %}修改相册{% endblock %}
{%block nav%}修改相册{%endblock%}
<style type="text/javascript">
#body{border:none;width:90%;}
html{overflow:hidden;}
</style>
{% block main %}


   <form action="/admin/edit/{{album.id}}/" method="POST">
    <p><label>相册名称</label></p>
	<p><input type="text" name="AlbumName" value="{{album.AlbumName}}" class="input" /></p>

	<p><label>相册描述</label></p>
	<p><textarea name="Summary" class="textarea">{{album.Summary}}</textarea></p>

	<p><label>排序</label></p>
	<p><input type="text" name="DisplayOrder" value="{{album.DisplayOrder}}" class="input" /></p>
	<p><input type="submit" value="保存" class="button" />
	<input type="hidden" name="albumid" value="{{album.id}}" />
	</p>

   </form>

{% endblock %}
</body>
</html>