<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/style.css" type="text/css" media="all" />
<link rel="StyleSheet" href="/static/dtree.css" type="text/css" />
<script type="text/javascript" src="/static/dtree.js"></script>
</head>
<body id="menuBody">
    <div id="wrap" style="position:relative;">
<script type="text/javascript">
var d = new dTree('d');
d.add(00000,-1,'全局');
d.add(77777,00000,'站点配置','/admin/settings/','站点配置','mainframe');
d.add(77778,00000,'相册管理','/admin/albums/','相册管理','mainframe');
d.add(77781,00000,'上传照片','/admin/upload/','上传照片','mainframe');
document.write(d);
</script>

    </div>
<div style="background:url(http://code.google.com/appengine/images/appengine-silver-120x30.gif) bottom left no-repeat;height:30px;position:fixed;left:10px;bottom:0;width:140px;">
</div>
</body>
</html>
