<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/admin_style.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
       #wrap
       {
           position:relative;
           height:50px;
           border-bottom: solid 5px #efefef;
       }

       #logo{
       	padding-left: 10px;
       	padding-bottom: 0;
       	position: absolute;
       	right: 5px;
       	bottom: 0;
		font-family:verdana;
       }

    </style>
</head>
<body id="topBody">
<div id="wrap">
<div id="logo">
您好,{{username}}<a href="{{logouturl}}" target="_parent">[安全退出]</a>,
<a href="/" target="_parent">[站点首页]</a>

</div>

</div>
</body>
</html>