<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<style type="text/css">
*{padding:0;margin:0}
body{font-size:14px;font-family:verdana;}

ul{list-style:none;}
#main{width:96%;margin:0 auto;border:solid 1px #ccc;}
#nav ul,#photos ul {float:left;}
#nav ul li,#photos ul li {float:left;padding:3px;margin:0 4px;}
#photos ul li {width:110px;height:110px;}

.clear{clear:both;}
</style>
</head>
<body>
<div id="main">
<div id="nav">
  <ul>
    {% for a in albums %}
     <li>
	    <a href="/admin/{{a.id}}/">{{a.AlbumName}}</a>
	 </li>
	{% endfor %}
	<li><a href="/admin/upload/">上传</a></li>
  </ul>
  <div class="clear"></div>
 </div>
<div id="photos">
<form action="/admin/{{albumid}}/" method="post">
<ul>
{% for p in photos %}
<li><img src="/s/{{p.id}}/" alt="" /><input type="checkbox" name="deleteid" value="{{p.id}}" /></li>
{% endfor %}
</ul>
<div class="clear"></div>
<input type="submit" value="delete" />
<input type="hidden" value="{{albumid}}" name="alid" />
</form>
</div>
<div class="clear"></div>
</div>

</body>
</html>