<?xml version="1.0" encoding="UTF-8"?>
<simpleviewergallery
	title=""
	textColor="000000"
	frameColor="EFEFEF"
	thumbPosition="TOP"
	galleryStyle="CLASSIC"
	thumbColumns="9"
	thumbRows="1"
	showOpenButton="FALSE"
	showFullscreenButton="FALSE"
	frameWidth="10"
	maxImageWidth="850"
	maxImageHeight="600"
	imagePath="/image/"
	thumbPath="/s/"
	useFlickr="false"
	flickrUserName=""
	flickrTags=""
	languageCode="AUTO"
	languageList=""		
	
>

{%for photo in photos%}
<image imageURL="/image/{{photo.id}}/" thumbURL="/s/{{photo.id}}/" linkURL="" linkTarget="" >
	<caption><![CDATA[{{photo.Description}}]]></caption>
</image>
{% endfor %}
</simpleviewergallery>