{% extends "base.html" %}
{% block title %}我的相册{% endblock %}
{% block script%}
<script type="text/javascript">

</script>
{%endblock%}
{% block main %}

{% for album in albums %}
  <div class="album hover">
  <a href="/album/{{album.id}}/" class="linkcover">
       <img src="{{album.Cover}}" class="img_cover" alt="" />
   </a>
   <div class="des">
    <a href="/album/{{album.id}}/">
	 <p><strong>{{album.AlbumName}}</strong></p>
	 <p>共<kbd>{{album.PhotoCount}}</kbd>张</p>
	 <p>{{album.LastUpdate|timezone:8|date:"Y-m-d H:i"}}更新</p>
	 <p>{{album.CreateDate|timezone:8|date:"Y-m-d" }}创建</p>
	 </a>
	 </div>
  </div>
  {% endfor %}
{% endblock %}
</body>
</html>
