{% extends "base.html" %}
{% block title %}我的相册-{{image.photo.Album.AlbumName}}{% endblock %}
{%block nav%}&gt;<a href="/album/{{image.photo.Album.id}}/">{{image.photo.Album.AlbumName}}</a>&gt; {{image.photo.Name|escape}}{%endblock%}
{% block main %}

{% if image.photo %}
<div id="container">
<div id="showimg">
<img class="showimg" src="/image/{{image.photo.id}}/" alt="{{image.Name}}" />

<dl class="photoinfo">
<dt><strong>{{image.photo.Name|escape}}</strong></dt>
<dd>上传时间:{{image.photo.CreateTime|timezone:8|date:"Y-m-d H:i:s"}}</dd>
<dd>说明:{{image.photo.Description|escape}}</dd>
<dd>查看次数:{{image.photo.ViewCount}}</dd>
<dd>文件类型:{{image.photo.FileType}}</dd>
<dd>分辨率:{{image.photo.Width}}*{{image.photo.Height}}</dd>
<dd>图片大小:{{image.photo.Size|filesizeformat}}</dd>
<dd>{% if admin %}<a href="/admin/delete/{{image.photo.id}}/">删除</a>{% endif %}</dd>
</dl>
<ul class="ulnav">
{% if image.prev %}
<li>
<a href="/photo/{{image.prev.id}}/" title="上一张:{{image.prev.Name}}">
<img src="/s/{{image.prev.id}}/" alt="{{image.prev.Name}}" />
</a>
</li>
{% endif %}
{% if image.next %}
<li>
<a href="/photo/{{image.next.id}}/" title="下一张:{{image.next.Name}}">
<img src="/s/{{image.next.id}}/" alt="{{image.next.Name}}" />
</a>
</li>
{% endif %}
</ul>
</div>
<div class="comment">

</div>
<div class="clear"></div>
</div>
{% endif %}

{% endblock %}
</body>
</html>
