 *{margin:0;padding:0}
 body{font-size:12px;}
 h1,h2,h3,h4,h5,h6
 {
 font-size:14px;
 font-weight:normal;
 line-height:auto;
 }
 ul{list-style:none;}
 img{border:none;}
 a:link,a:hover,a:visited,a:active
{
text-decoration:underline;
color:#4F463F;
}
a:hover{
text-decoration:none;
}

 #body,#header{
 width:1002px;
 margin:0 auto;
 border:solid 1px #ccc;
 font-family:'微软雅黑',verdana;
 }
 #body{
 margin:0 auto;
width:960px;
 }
 #header{
 margin-top:10px;
 padding:5px 0px 5px 5px;
 width:997px;
 }
 #container
 {
 padding:10px;
 float:left;
 width:680px;
 overflow:hidden;
 }
 #sidebar
 {
  overflow:hidden;
 float:right;
 width:250px;
 }

.item
{
margin-bottom:20px;
}
.item h3
{
font-size:14px;
margin-bottom:5px;
}
.item h3 a
{
color:#1D7591
}
.itemtext
{
margin-top:5px;
line-height:150%;
}

 .clear{clear:both;}
 
  
 #body{width:1002px;}
 
 #copyright
 {
 clear:both;
 margin-top:15px;
 text-align:left;
 background:url(/static/images/appengine-noborder-120x30.gif) left center no-repeat;
 padding-left:150px;
 height:40px;
 line-height:40px;
 }
 

 input.input,input.button,input.select
 {
 border:solid 2px #ccc;
 padding:3px;
 width:350px;
 font-size:12px;
 }
 input.button
 {
   width:100px;
   cursor:pointer;
 }